*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}


nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    
}

nav ul{
   
    width: 100%;
    margin-top: 10px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    color: rgb(247, 26, 26);
    
}
 
.cart{
    height: 300px;
    width: 1500px;
    background: #d6cfcf;
    cursor: pointer;
    margin-left: 10%;
     margin-right: 10%;
}

.cart img{
    width: 100%;
}
.cart p{
    color: rgb(19, 2, 2);
    font-size: 20px;
    text-transform: uppercase;
    
}
.cart p:hover{
    color: black;
}
.carttwo{
    height: 300px;
    width: 300px;
    background: #f1f1f1;
    margin-top: 50px;
    margin-left: 50px;
    
}
.carttwo img{
    width: 100%;
}

